app:
  storage:
    type: s3
    s3:
      bucket: todo-bucket123
      prefix: attachments
#    root-dir: ./uploads

spring:
  cloud:
    aws:
      region:
        static: us-east-2

  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: 25MB

  datasource:
    url: jdbc:postgresql://localhost:5433/todo_db
    username: user-todo
    password: todo123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate # dev-friendly; use 'validate' in prod; don't let Hibernate mutate schema
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
      open-in-view: false

      # Optional: auto-run schema/data scripts if present (schema.sql, data.sql)
      sql:
        init:
          mode: never # set to 'always' if you add schema.sql/data.sql
  flyway:
    enabled: true
    locations: classpath:db/migration
    clean-disabled: true
    schemas: public
    default-schema: public

logging:
  level:
    org.hibernate.SQL:
      debug
      # runs db/migration scripts automatically

server:
  port: 8080
  servlet:
    context-path: /api

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

# JWT Configuration
jwt:
  secret: mySecretKey123456789012345678901234567890
  expiration: 86400000 # 24 hours in milliseconds

# OpenAPI Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
  show-actuator: true
